@model IEnumerable<iPE.Models.TicketInfo>

<!DOCTYPE html>
<html>
<head>
    <title>iPE</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/chocolat.css" type="text/css">

    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!---->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!---->
    <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'> 
    <script src="~/Scripts/jquery.chocolat.js"></script>
    <!--lightboxfiles-->
    <script type="text/javascript">
		$(function() {
			$('.gallery a').Chocolat();
		});
    </script>
    <!--script-->
    <!--startsmothscrolling-->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
    </script>

    <script src="~/Scripts/modernizr.custom.97074.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-menu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand logo">
                                <h1><a href="/Home/Index">iPE</a></h1>
                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav cl-effect-11">
                                <li class="active"><a href="/Home/Index" data-hover="Home" class="scroll">Home</a></li>
                                <li><a href="/Ticket/Index" data-hover="Tickets" class="scroll">Tickets</a></li>
                                <li><a href="/Match/Matches" data-hover="MatchEnroll" class="scroll">MatchEnroll</a></li>
                                <li><a data-hover="Myhome" href="/Homepage/homepage" class="scroll">Myhome</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="featured-services" id="services">
            <div class="container">
                <h3 class="tittle">Tickets</h3>
                <div class="featured-grids">
                    @foreach (var item in Model) {
                        <div class="col-md-3 featured-grid">
                            <div class="featured-grd">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <h4>@Html.DisplayFor(modelItem => item.name)</h4>
                                <p>￥@Html.DisplayFor(modelItem => item.price)</p>
                                <p>@Html.DisplayFor(modelItem => item.surplus) left</p>
                                @{
                                    String time = item.time.ToShortDateString();
                                    <p>@time</p>
                                }
                                @*<p>sponsor</p>*@
                                <div class="more m2">
                                    <a href="/Ticket/Buy?id=@item.id" class="btn effect6">Buy</a>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="copy-section">
        <div class="container">
            <div class="footer-top">
                <p>&copy; 2016 iPE. All rights reserved | Design by Wu Shuhan</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'home', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
    </script>
    <a href="#" id="home" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    
</body>
</html>
